.col-md-4
  %p#notice= notice
  %p#error= flash[:error]

  %p
    %b Product:
    = product.title
  %p
    %b Description:
    = product.description
  %p
    %b Price:
    = product.price

  %p
    %b Category:
    = product.category.name
  = render reviews
.col-md-6
  %h3 Reviews
  = render 'reviews/form'



  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: "btn btn-default btn-sm"
  = link_to 'Back', category_products_path, class: 'btn btn-primary btn-sm'
